<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SlapCrop" type="SlapCrop.ImageConfigSection, SlapCrop" />
  </configSections>

  <SlapCrop fillColor="#00FF00">
    <breakpoints>
      <add key="iphone" value="0" />
      <add key="ipad" value="1" />
      <add key="ipad-landscape" value="2" />
      <add key="desktop" value="3" />
    </breakpoints>
  </SlapCrop>
  
</configuration>